#root {
  width: 90%;
  height: 100vh;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav-links {
    width: 20%;
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
}

#login-register-page {
  width: 50%;
  padding: 2rem;
  margin: 2rem auto;
  border: 1px solid rgba(255, 255, 255, 0.87);
  border-radius: 8px;
  #button-container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem auto;
  }

  #login-form,
  #register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
  }
}

.contact-card {
  border: 1px solid rgba(255, 255, 255, 0.87);
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-contact-form {
  border: 1px solid rgba(255, 255, 255, 0.87);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 50%;
  margin: 1rem auto;
  padding: 1.5rem;
}
